<ion-view view-title="Playlists" class="dark">
  <ion-content class="dark-bg">
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}" class="item-dark">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
