<ion-view view-title="{{car.model}}">
  <ion-content class="dark-bg">
    <div class="card">
      <div class="item item-body item-text-wrap item-dark">
        <img class="full-image" ng-src="{{baseURL+car.picture}}" alt="{{baseURL+car.picture}}">
      </div>
      <div class="item item-body item-dark">
        <p>License plate: {{car.license}}</p>
        <p>Color: {{car.color}}</p>
        <p>Zone: {{zoneName}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
