<ion-view view-title="{{device.type}}">
  <ion-content class="dark-bg">
    <div class="card">
      <div class="item item-body item-text-wrap item-dark">
        <img class="full-image" ng-src="{{baseURL+device.picture}}" alt="{{baseURL+device.picture}}">
      </div>
      <div class="item item-body item-dark">
        <p>Technology: {{device.technology}}</p>
        <p>Zone: {{zoneName}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
