<ion-view view-title="{{zone.name}}" >
  <ion-content class="dark-bg" ng-show="zone == null">
    <div class="item item-body item-dark">
      No Result
    </div>
  </ion-content>
  <ion-content class="dark-bg" ng-show="zone != null">
    <ion-list >
      <ion-item ng-repeat="car in zone.items.cars" ng-click="carDetail({{car}})"
                ng-class="car.thumbnail != null ? 'item-dark item-thumbnail-right' : 'item-dark item-icon-right'">
        <img ng-show="car.thumbnail != null" ng-src="{{baseURL+car.thumbnail}}">
        <i ng-show="car.thumbnail == null" class="icon ion-android-car"></i>
        <span>{{car.model}}</span>
        <span class="item-note">{{car.license}}</span>
      </ion-item>
      <ion-item ng-repeat="traject in zone.items.traject" ng-click="trajectDetail({{traject}})"
                ng-class="traject.thumbnail != null ? 'item-dark item-thumbnail-right' : 'item-dark item-icon-right'">
        <img ng-show="traject.thumbnail != null" ng-src="{{baseURL+traject.thumbnail}}">
        <i ng-show="traject.thumbnail == null" class="icon ion-android-watch"></i>
        {{traject.location}}
      </ion-item>
      <ion-item ng-repeat="device in zone.items.device" ng-click="deviceDetail({{device}})"
                ng-class="device.thumbnail != null ? 'item-dark item-thumbnail-right' : 'item-dark item-icon-right'">
        <img ng-show="device.thumbnail != null" ng-src="{{baseURL+device.thumbnail}}">
        <i ng-show="device.thumbnail == null" class="icon ion-camera"></i>
        {{device.type}}
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
