
<ion-view view-title="Browse">
  <ion-content class="dark-bg padding">
    <div class="list">
      <label class="item item-input item-select item-dark">
        <div class="input-label">
          Community
        </div>
        <select ng-options="community as community.place for community in communities | orderBy: 'place'"
                ng-model="selected" ng-change="setManualZone(selected)" class="dark-bg light">
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
