<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="dark-bg">
      <ion-list>
        <ion-item menu-close href="#/app/home" class="item-icon-right item-dark">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item menu-close href="#/app/manual" class="item-icon-right item-dark">
          <i class="icon ion-location"></i>
          Manual location
        </ion-item>
        <ion-item menu-close href="#/app/addNew" class="item-icon-right item-dark" >
          <i class="icon ion-plus-circled"></i>
          Add new item
        </ion-item>
        <ion-toggle ng-model=toggleValue ng-change="toggleManualMode()" toggle-class="toggle-balanced" class="item-dark">Manual mode</ion-toggle>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
