<ion-view view-title="{{traject.location}}">
  <ion-content class="dark-bg">
    <div class="card">
      <div class="item item-body item-text-wrap item-dark">
        <img class="full-image" ng-src="{{baseURL+traject.picture}}" alt="{{baseURL+traject.picture}}">
      </div>
      <div class="item item-body item-dark">
        <p>Speed: {{traject.speed}}</p>
        <p>Zone: {{zoneName}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
